<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% if homepage %} {{ homepage.title }} {% else %} {{ page.title }} | Cameron's Dev Blog {% endif %}</title>
    {% block Stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bulma.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/theme.css', 'theme') }}">
    {% endblock %}
    {% block Scripts %}
        <script type="text/javascript" src="{{ asset('assets/js/theme.js', 'theme') }}"></script>
    {% endblock %}
</head>
<body>
