{% extends 'partials/_blog_master.twig' %}
{% setcontent records = 'entries' allowpaging %}
{% block content %}
    <section class="section">
        <!-- Featured -->
        <p style="font-size: 2rem;" class="title is-centered">
            Recent Blog Posts
        </p>
        <div class="container-fluid">
            <div class="columns">
                    <div class="columns is-multiline">
                        <div class="column">

                        </div>
                        <div class="column is-7" style="display: block;">
                            {% for record in records %}
                                <!-- start of post -->
                                <article role="article" class="box">
                                    <!-- box header -->
                                    <div class="box-header">
                                        <h4 class="title is-4">
                                            {{ record.title }}
                                        </h4>
                                        <small>By: {{ record.user.displayname }}</small>
                                    </div>
                                    <!-- end of box header -->
                                    <!-- box content -->
                                    <div class="box-content">
                                        <div class="columns">
                                            <div class="column is-3">
                                                <img src="/images/bolt-logo.png" alt="">
                                            </div>
                                            <div class="column is-7">
                                                <div class="box-content-text">
                                                    {% if record.introduction %}
                                                    <div>{{ record.introduction }}</div>
                                                    {% elseif record.teaser %}
                                                    <div>{{ record.teaser }}</div>
                                                    {% else %}
                                                        <div>{{ record.excerpt(300, false, search|default('')) }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="buttons has-addons">
                                                    <a class="button" href="{{ record.link }}">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end box content -->
                                </article>
                                <!-- end of post -->
                            {% endfor %}
                            <!-- pagination -->
                            <nav class="pagination">
                                <div class="pagination-fields">
                                    {{ pager() }}
                                </div>
                            </nav>
                            <!-- end of pagination -->
                        </div>
                        <div class="column is-4">
                            {% block sidebar %}
                                {% include 'partials/_aside.twig' %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
